.about-bg {
  position: relative;
  background-image: url(../../images/about.jpg);
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 400px;
  text-align: center;
  z-index: 2;
}

.about-bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}

.about-bg h3 {
  font-size: 42px;
  color: #fff;
  margin-bottom: 20px;
}

.about-bg p {
  font-size: 18px;
  color: #fff;
  width: 60%;
  margin: 0 auto;
}
