.menu-bar {
  z-index: 10;
  /* background-color: orange; */
}

.menu-link {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.menu-link:hover {
  color: #fff !important;
  transition: linear 0.4s;
}
